.git
.gitattributes
.gitignore
.kamal
.ruby-lsp
.docker_volumes
blogpost.md
log/*
tmp/*
node_modules
storage/*
public/assets
app/assets/builds/*
!app/assets/builds/.keep
!log/.keep
!tmp/.keep
!tmp/pids/.keep
!storage/.keep
config/master.key
docker-compose*
README.md
bin/docker
