default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  url: <%= ENV.fetch("DATABASE_URL", "postgres://127.0.0.1:5432/beast_mode_development") %>

test:
  <<: *default
  database: beast_mode_test

production:
  <<: *default

