/**
 * = Accordions
*/

.accordion-button {
  text-align: left;
  &::after {
    background-image: none !important;
    width: auto;
  }
  & svg {
    margin-left: 10px;
  }
  &:not(.collapsed) {
    & svg {
      @include transform(rotateZ(45deg));
      transition: $transition-base;
    }
  }

  &:hover {
    background-color: $gray-200;
  }
  .accordion-text {
    min-width: 95%;
  }
}

// Flush accordion items
//
// Remove borders and border-radius to keep accordion items edge-to-edge.

.accordion-flush {
  .accordion-button {
    background-color: transparent;
    &:not(.collapsed) {
      color: $tertiary;
    }
    &:focus {
      border-color: $gray-300;
      box-shadow: none;
    }
  }
  .accordion-collapse {
    border: 0;
  }
}
