.ss-main {
  .ss-single-selected, .ss-multi-selected {
  border-radius: 1rem;
  border-color: $input-border-color;
  min-height: 44px;
  padding: 7.5px 7.5px 3.75px;
  font-size: 1rem;
  font-weight: 400;
    .placeholder {
      padding: 4px 16px 4px 4px;
    }
  }
  .ss-multi-selected .ss-values .ss-value {
    background-color: #262b40;
    border-radius: 1rem;
    padding: 4px 10px;
  }
  .ss-content {
    border-color: $input-border-color;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    @include box-shadow($box-shadow);
    .ss-list {
      max-height: 300px;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }
  }
}