<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
  <div class="modal-dialog modal-tertiary modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header mx-auto">
        <p class="lead mb-0 text-white text-center">
          This UI is <big id="e1">100% server rendered</big>.<br/><span class="d-none d-md-block">It was created with...</span>
        </p>
      </div>
      <div class="modal-body py-0">
        <div class="px-5 text-center">
          <span class="modal-icon display-1 text-white"><img src="/stimulus-reflex-logo.svg" width="80" height="80"/></span>
          <h2 class="h3 modal-title mb-3 text-white">
            StimulusReflex + All Futures
          </h2>
          <p class="mb-4 text-white d-none d-md-block">
            Open your Inspector and you'll see that updates arrive via WebSockets.
          </p>
          <p class="mb-4 text-white">
            No JSON API. No GraphQL. No Redux.
          </p>
          <p class="mb-4 text-white">
            No <big id="e2">client state</big>.
          </p>
          <p class="mb-4 text-white">
            Links for the tutorial, <em>plus</em> All Futures and StimulusReflex <span id="e3">docs in the footer</span> below. 👇
          </p>
          <p class="mb-4 text-white d-none d-md-block">
            Clone this app and get started with <big><a href="https://obie.medium.com/react-is-dead-long-live-reactive-rails-long-live-stimulusreflex-and-viewcomponent-cd061e2b0fe2" target="_new">#reactiverails</a></big>.
          </p>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center pt-0 pb-3">
        <button type="button" class="btn btn-sm btn-white text-tertiary" data-bs-dismiss="modal">
          Awesome!
        </button>
      </div>
    </div>
  </div>
</div>