<!DOCTYPE html>
<html>
  <%= render partial: "layouts/head" %>
  <body>
    <main class="content">
      <%= yield %>
      <%= render partial: "layouts/modal" %>
      <%= render partial: "layouts/footer" %>
    </main>
  </body>
</html>
